<?php
/*
 * Application bootstrap
 * You can configure your environment here
 * Makes available some global constants
 * 
 * @author Clinton Shane Wright <clintonshanewright@gmail.com>
 * @package env.php
 *
 */
if (! defined("ROOT")) {
    define("ROOT", dirname(__FILE__));
}

if (! defined("DS")) {
    define("DS", DIRECTORY_SEPARATOR);
}

if (defined("DEFAULT_TIME_ZONE") === false) {
    define("DEFAULT_TIME_ZONE", "Africa/Johannesburg");
}

// Set default timezone globally
date_default_timezone_set(DEFAULT_TIME_ZONE);

// Set script to explicitly use UTF-8 character encoding
mb_internal_encoding('UTF-8');
mb_http_output('UTF-8');
mb_http_input('UTF-8');
mb_regex_encoding('UTF-8');

if((boolean) ini_get("output_buffering")) {
    ini_set("output_buffering","off");
}

ob_start("mb_output_handler");

define('DEVELOPMENT_ENVIRONMENT', FALSE);
define('ROOT', dirname(__FILE__));
define('DS', DIRECTORY_SEPARATOR);

// Error reporting
switch (DEVELOPMENT_ENVIRONMENT) {
    case true:
        error_reporting(E_ALL);
        ini_set('display_errors', 'Off');
        ini_set('log_errors', 'On');
        ini_set('error_log', ROOT . DS . 'tmp' . DS . 'logs' . DS . 'error.log');
        break;
    default:
        error_reporting(E_ERROR | E_WARNING | E_PARSE);
        ini_set('display_errors', 'Off');
        ini_set('log_errors', 'On');
        ini_set('error_log', ROOT . DS . 'tmp' . DS . 'logs' . DS . 'error.log');
        break;
}
?>